font-family: Arial, Helvetica ,sans-serif;
font-size: 16;



body {
    background-color: rgb(129, 62, 190);
}


main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}